/*
*{
	margin: 10px;
	padding: 0px;
	font-family: sans-serif;
}

body{
	width: 80%;
	margin: 20px auto;
}

header{
	border-bottom: 2px solid gray;
	padding-bottom: 10px;
	margin-bottom: 50px;
}

footer{
	border-top: 2px solid gray;
	padding-top: 10px;
	margin-top: 50px;
}

*/

body{
	margin: 0;
	font-size: .9rem;
	font-weight: 400;
	line-height: 1.6;
	color: #212529;
	text-align: left;
	background-color: #000000;
}


img.avatar {
	width: 35%;
	margin-left: 150px;
	border-radius: 50%;
	margin-top: -10px;
  }
.navbar-laravel{
	box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.footern{
	box-shadow: 6px 0 2px rgba(0,0,0,.04);
}

.footern .navbar-brand{
	padding-left: 900px;
}
.navbar-brand , .nav-link, .my-form, .login-form{
	font-family: Raleway, sans-serif;
}

.card-header{
	text-align: center;
}
.my-form{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.my-form .row{
	margin-left: 0;
	margin-right: 0;

}

.register-form .form-group{
	margin-bottom:0 !important;
}

.login-form{

	background-color: gainsboro;
}
.login-form .container{
	padding-top: 50px;
	padding-bottom: 50px;
}

.login-form .row{
	margin-left: 0;
	margin-right: 0;
}

.register-form{

	background-color: gainsboro;
}
.register-form .container{
	padding-top: 50px;
	padding-bottom: 50px;
}

.register-form .row{
	margin-left: 0;
	margin-right: 0;
}

#output{
	max-width: 150px;
	max-height: 100px;
	margin-bottom: 10px;
}

.profil-form{

	background-color: gainsboro;
}

.profil-form .container{
	padding-top: 50px;
	padding-bottom: 50px;
}

.profil-form .card-header{
	font-size: 150%;
}

.change-form{

	background-color: gainsboro;
}

.change-form .container{
	padding-top: 50px;
	padding-bottom: 50px;
}

.change-form .card-header{
	font-size: 150%;
}

.admin-form{
	height: 500px;
	background-color: gainsboro;
}

.admin-form .container{
	padding-top: 50px;
	padding-bottom: 50px;
}

.admin-form .card-header{
	font-size: 150%;
}